.promo {
    background: url('../../../image/main-background.jpg') center center / cover no-repeat;
    padding-top: 52px;
    text-align: center;
    color: #ffffff;
    height: 100VH;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    &_header {
        margin-top: 180px;
        margin-bottom: 0;
        font-weight: 700;
        font-size: 40px;
    }
    &_subheader {
        margin-top: 35px;
        font-size: 24px;
    }
}

.about, .difference {
    padding-top: 80px;
    text-align: center;
    height: 520px;
    &_header {
        font-weight: 400;
        font-size: 24px;
    }
    &_descr {
        width: 590px;
        margin: 41px auto 0px;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
    }
}

.best {
    background: url('../../../image/paper-background.jpg') center center / cover no-repeat;
    padding-top: 80px;
    height: 495px;
    &_header {
        font-size: 24px;
        text-align: center;
    }
    &_items {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        width: 802px;
        margin: 40px auto 0;
        
    }
    .coffee_cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 802px; margin: 40px auto 0;
        .wrapper {
            background: rgba(255, 255, 255, 0.65);
        }
    }
}

.blends {
    background: url('../../../image/coffeeBlendsBG.jpg') center center / cover no-repeat;
    height: 700px;
    padding-top: 255px;
    text-align: center;
    color: #fff;
    &_header {
        font-weight: 700;
        font-size: 40px;

    }
    &_subheader {
        font-size: 24px;
        margin: 30px 0;
    }
}

.opinions  {
    background: url('../../../image/opinionsBG.jpg') center center / cover no-repeat;
    padding: 70px;
    &__header {
        text-align: center;
        font-weight: 700;
        font-size: 40px;
        margin-top: 0;
        color: #fff;
    }
    .carousel {
        display: flex;
        justify-content: center;
        margin-top: 30px;
        width: 1400px;
    }
    .card {
        width: 430px;
        height: 450px;
        background: rgba(255, 255, 255, 0.8);
        padding: 30px;
        border-radius: 20px;
        &__header {
            font-size: 24px;
            font-weight: 700;
        }
        &__descr {
            font-size: 16px;
            margin-top: 20px;
            span {
                font-weight: 700; 
            }
        }
        &__name {
            position: absolute;
            padding-bottom: inherit;
            bottom: 0;
            font-weight: 700;
        }
    }
}

