.wrapper-item {
    display: grid;
    grid-template-columns: 3fr repeat(4, 1fr);
    padding: 20px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.25);
    transition: box-shadow 0.5s;
    &:hover {
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5); 
    }
    border-radius: 8px;
    align-items: center;
    .description {
        display: flex;
        cursor: pointer;
        img { 
            max-width: 150px;
        }
        .title {
            margin-left: 20px;
        }
    }

    .remove {
        border: none;
        background: none;
        cursor: pointer;
        width: 40px;
        margin: 0 auto;
        img {
            width: 40px;
        }
    }
}