.full-card {
    
    padding-top: 70px;
    span {
        font-weight: 700;
        font-size: 14px;
    }
    &_back {
        display: inline;
        position: relative;
        top: -6px;
    }
    
    .item {
        display: grid;
        grid-template-rows: auto 30px  22px minmax(110px, auto) auto auto auto;
        grid-template-columns: 392px 420px;
        grid-gap: 20px 55px;
        justify-content: center;
        align-items: center;
        //height: 355px;
        &_img {
            max-height: 100%;
            max-width: 100%;
            grid-row: 1 / 6;
        }
        &_title {
            margin: 0;
            grid-column: 2 / 3;
            grid-row: 1 / 2;
            align-self: end;
            text-align: center;
        }
        &_weight {
            font-size: 24px;
        }
        &_price {
            grid-column: 2 / 3;
            font-size: 28px;
        }
        &_add {
            grid-column: 2 / 3;
            width: 150px;
        }

        .bean {
            margin: 0;
            grid-column: 2 / 3;
            grid-row: 2 / 3;
            text-align: center;
        }
    }
}



