.header__terms {
    background: url('../../../image/termsBG.jpg') center center / cover no-repeat;
}
.terms {
    padding: 70px;
    margin: 0 auto; 
    text-align: center;
    img {
        margin-top: 40px;
        width: 500px;
    }
}