@import '../../mixins/dividers.scss';

.footer {
    padding-top: 52px;
    height: 150px;
    text-align: center;
    .bean {
        margin-top: 30px;
        @include two-dividers;
        &_black {
            &:before,
            &:after {
                background-color: #000000;
                vertical-align: 16px;
                box-shadow: none;
            }
        }
    }

}

