.header {
    padding-top: 52px;
    height: 260px;
    background: url('../../../image/our-coffee-background.jpg') center center / cover no-repeat;
    text-align: center;
    .title {
        margin-top: 60px;
        font-weight: 700;
        font-size: 40px;
        color: #ffffff;
    }
}

.about-coffee {
    height: 435px;
    padding-top: 70px;
    text-align: center;
}

.coffee-cards {
    margin-top: 60px;
    .container {
        margin-top: 60px;
        display: grid;
        grid-template-columns: repeat(3, 220px);
        grid-template-rows: 260px;
        grid-auto-rows: auto;
        grid-auto-flow: row;
        gap: 60px 70px;
        justify-content: center;
    }
}
