@mixin divider {
    &:before,
    &:after {
        content: "";
        background-color: #ffffff;
        display: inline-block;
        height: 1px; 
        position: relative;
        vertical-align: 23px;
        width: 60px;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    }
    &:before {
        right: 25px;
        margin-left: -50%;
    }
    &:after {
    left: 25px;
    margin-right: -50%;
    }
}