* {
	font-family: 'Merienda', cursive;
	box-sizing: border-box;
	
}
p {
	margin: 0;
}
#root {
	margin: 0 auto;
}
.container {
	display: block;
	margin: 0 auto;
}

.wrapper {
	display: grid;
	grid-template-columns: auto 346px;
	grid-template-rows: auto 30px auto;
	grid-row-gap: 10px;
	grid-column-gap: 80px;
	justify-content: center;
	text-align: center;
	.bean {
		margin: 0;
		grid-column: 2 / 3;
		grid-row: 2 / 3;
	}
	.title {
		font-size: 24px;
		margin: 0;
		grid-column: 2 / 3;
		grid-row: 1 / 2;
		align-self: end;
		text-align: center;
	}
	.descr {
		grid-column: 2 / 3;
		grid-row: 3 / 4 ;
		font-size: 14px;
	}
	img {
		max-height: 100%;
		max-width: 100%;
		grid-row: 1 / 4;
	}
	
}

.divider {
    height: 1px;
    width: 240px;
    background-color: #000000;
    margin: 60px auto 0;
}

.btn {
	width: 120px;
	height: 30px;
	display: block;
	margin: 0 auto;
	border-radius: 5px;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
	cursor: pointer;
	transition: background-color 0.5s, box-shadow 1s;
	border: 2px solid rgb(102, 101, 101);
	&:hover {
		background-color: rgba(255, 255, 255, 0.2);
		box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.3);
	}
	&_light {
		background-color: transparent;
		color: #ffffff;
		border: 1px solid #fff;
	}
	&_dark {
		margin-top: 40px;
		border: 1px solid rgb(56, 56, 56);
		&:hover {
			background-color: rgba(0, 0, 0, 0.2);
		}
	}
}